ul.action-menu {
  display: inline-block;
  position: relative;
  > li {
    cursor: pointer;
    overflow: hidden;
    list-style-type: none;
    > img {
      height: 20px;  
      margin-right: 5px;
      vertical-align: middle;
    }
    &:after {
      content: '\25BC';
      color: inherit;
      display: inline-block;
      margin-left: 3px;
      opacity: .75;
      //vertical-align: top;
      @include transform(scaleY(.75));
    }
  }
  > span {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    display: none; 
    font-size: 13px;
    min-width: 120px;
    //padding: 0 5px;
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 33;
    @include box-shadow(3px 3px 0 rgba(0,0,0,0.05));
    > li, > a {
      color: #555;
      display: block;
      border-bottom: 1px solid rgba(0,0,0,0.1);
      box-sizing: border-box;
      font-weight: 600;
      font-size: 13px;
      line-height: 1.2;
      margin: 0;
      padding: 5px;
      &:last-child {
        border-bottom: 0;  
      }
      &:hover {
        background: $blue_light;
        cursor: pointer;
        color: #fff;
      }
      &.disabled {
        cursor: default;
        color: #999;
        &:hover {
          background: inherit;
          color: #999;  
        }
      }
    }
  }
  &.active {
    > span {
      display: block;  
    }
  }
}