.cta {
  border-radius: 3px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  // default
  background: #f0f0f0;
  border: 1px solid darken(#f0f0f0,8%);
  border-bottom: 1px solid darken(#f0f0f0,10%);
  border-top: 1px solid darken(#f0f0f0,2%);
  color: #555;
  text-shadow: 0 1px 0 lighten(#f0f0f0, 5%);
  vertical-align: middle;
  @include box-shadow((
    inset 0 -1px 0 #f0f0f0,
    inset 0 1px 0 #fff,
    inset -1px 0 0 #fff,
    inset 1px 0 0 #fff
  ));
  @include gradient(#fff, darken(#fff, 3%));
  &:hover {
    @include gradient(#fff, darken(#fff, 5%));
  }
  &:active {
    border: 1px solid darken(#f0f0f0,15%);
    @include box-shadow((
      inset 0 2px 8px #ccc
    ));
  }
  &.refresh {
    @include gradient(#ffffff, darken(#ffffff, 5%));
    height: 20px;
    padding: 0 5px;
    &:before {
      background: url('../img/refresh.png') center 2px no-repeat;
      background-size: 13px 15px;
      content: ' ';
      display: inline-block;
      height: 20px;
      width: 15px;
    }
  }
  &.primary {
    background: $blue_light;
    border: 1px solid darken($blue_light,10%);
    border-bottom: 1px solid darken($blue_light, 15%);
    border-top: 1px solid darken($blue_light,5%);
    color: #fff;
    text-shadow: 0 1px 0 darken($blue_light, 10%);
    @include box-shadow((
      inset 0 -1px 0 lighten($blue_light, 10%),
      inset 0 1px 0 lighten($blue_light, 15%),
      inset -1px 0px 0 lighten($blue_light, 7%),
      inset 1px 0px 0 lighten($blue_light, 7%)
    ));
    @include gradient(lighten($blue_light,10%), darken($blue_light, 10%));
    &:hover {
      @include gradient(lighten($blue_light,15%), darken($blue_light, 10%));  
    }
    &:active {
      border: 1px solid darken($blue_light,14%);
      @include box-shadow((
        inset 0 2px 8px darken($blue_light,10%)
      ));
    }
  }
  &.cancel {
    background: $red;
    border: 1px solid darken($red,10%);
    border-bottom: 1px solid darken($red, 15%);
    border-top: 1px solid darken($red,5%);
    color: #fff;
    text-shadow: 0 1px 0 darken($red, 10%);
    @include box-shadow((
      inset 0 -1px 0 lighten($red, 5%),
      inset 0 1px 0 lighten($red, 15%),
      inset -1px 0px 0 lighten($red, 5%),
      inset 1px 0px 0 lighten($red, 5%)
    ));
    @include gradient($red, darken($red, 10%));
    &:hover {
      @include gradient(lighten($red,5%), darken($red, 10%));  
    }
    &:active {
      border: 1px solid darken($red,17%);
      @include box-shadow((
        inset 0 2px 8px darken($red,10%)
      ));
    }
  }
  &.disabled, &.disabled:hover {
    background: #f0f0f0;
    border: 1px solid darken(#f0f0f0,8%);
    border-bottom: 1px solid darken(#f0f0f0,10%);
    border-top: 1px solid darken(#f0f0f0,2%);
    color: #999;
    text-shadow: 0 1px 0 lighten(#f0f0f0, 5%);
    @include box-shadow((
      inset 0 -1px 0 #f0f0f0,
      inset 0 1px 0 #fff,
      inset -1px 0 0 #fff,
      inset 1px 0 0 #fff
    ));
    @include gradient(#fff, darken(#fff, 3%));
    cursor: default;
  }
  &.small {
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    padding: 0 5px;
  }
}