form {
  fieldset {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
    legend {
      font-weight: 600;  
    }
  }
  hr {
    border: 1px solid #eee;
    background: transparent;
    margin: 10px 0;
    &.clear { margin: 0 0 5px }
  }
  select {
    box-sizing: border-box;
    width: 50%;  
  }
  div.submit {
    margin-top: 10px;
    overflow: hidden;
    position: relative;  
    > .cta {
      float: right;
      margin-left: 5px;
    }
  }
  input {
    &[type=text],&[type=search],&[type=email],&[type=password], textarea { width: 100% }
  }
}

input {
  &[type=text],&[type=search],&[type=email],&[type=password] {
    border: 1px solid #cacaca;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 3px;
    vertical-align: middle;
    @include box-shadow(inset 1px 1px 5px #f0f0f0);
  }
  &[type=radio],&[type=checkbox] {
    margin: 0;
    vertical-align: top;
  }
}

.autocomplete {
  border: 1px solid #cacaca;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: inherit;
  @include box-shadow(inset 1px 1px 5px #f0f0f0);
  min-width: 360px;
}

::-webkit-input-placeholder {
  line-height: 1.4;
  text-indent: 1px;
}