form {
  fieldset {
    border: 1px solid #eee;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    //@include box-shadow(0 1px 15px #eee);
    legend {
      font-weight: 600;  
      background: #fff;
    }
    &.info {
      margin-bottom: 20px;  
    }
    span {
      &.with-input {
        border-bottom: 1px solid #ddd;
        display: block;
        line-height: 30px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        overflow: hidden;
        position: relative;
        > input {
          float: right;
          width: 50%;
        }
        &:last-of-type {
          border: 0;
          margin: 0;
          padding: 0;
        }
      }  
    }
  }
  hr {
    border: 1px solid #eee;
    background: transparent;
    margin: 10px 0;
    &.clear { margin: 0 0 5px }
  }
  select {
    box-sizing: border-box;
    width: 50%;  
  }
  div.submit {
    margin-top: 15px;
    overflow: hidden;
    position: relative; 
    > .cta {
      float: right;
      margin-left: 5px;
    }
  }
  fieldset ~ div.submit {
    margin-top: 15px; 
  }
  input,textarea {
    box-sizing: border-box;
    margin-bottom: 5px;
    outline: none;
    &:last-of-type { margin-bottom: 0 }
  }
  input {
    &[type=text],&[type=search],&[type=email],&[type=password],&[type=number] {
      width: 100%;
    }
  }
  textarea {
    width: 100%;
  }
}

input {
  &[type=text],&[type=search],&[type=email],&[type=password],&[type=number] {
    border: 1px solid #cacaca;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
    padding: 3px;
    vertical-align: middle;
    @include box-shadow(inset 1px 1px 5px #f0f0f0);
    &.error {
      border: 1px solid $red;  
    }
  }
  &[type=radio],&[type=checkbox] {
    margin: 0;
    vertical-align: top;
  }
}

textarea {
  border: 1px solid #cacaca;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: inherit;
  padding: 3px;
  vertical-align: middle;
  @include box-shadow(inset 1px 1px 5px #f0f0f0);
}

::-webkit-input-placeholder {
  font-size: 90%;
  line-height: 1.5;
  text-indent: 1px;
}

div.form {
  form {
    div.configure {
      background: #fff;
      border: 1px solid #eee;
      border-bottom: 1px solid #e0e0e0;
      margin-top: 51px;
      padding: 20px;
      h3 {
        font-weight: 600;
        margin: 15px 0 5px;
        &:first-of-type {
          margin-top: 0;  
        }
      }
      input {
        &[type=text] {
          max-width: 60%;  
        }  
      }
      nav.tabs {
        height: 30px;
        margin: -51px 0 0 -21px;
        position: absolute;
        a {
          background: #f8f8f8;
          color: #aaa;
          display: inline-block;
          line-height: 30px;
          margin: 0;
          padding: 0 10px;
          &.active {
            background: #fff;
            border: 1px solid #eee;
            border-bottom: 0;
            color: #555;
          }
        }
      }
      > span {
        display: none;
        &:first-of-type, &.active {
          display: block;  
        }
      }
    }
    div.submit {
      margin-top: 45px;
      legend {
        color: #999;
        float: right;
        line-height: 30px;
        margin-right: 10px;
      }
    }
  }  
}