ul#messages {
  > li {
    border-radius: 3px;
    display: block;
    line-height: 1.2;
    margin-bottom: 15px;
    max-width: 600px;
    overflow: hidden;
    padding: 10px 10px 15px;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    > a.close {
      background: url('../img/close.png') 2px 2px no-repeat;
      background-size: 10px 10px;
      display: block;
      height: 15px;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 15px;
      border-radius: 3px;
      @include box-shadow((
        -1px -1px 0 rgba(0,0,0,0.3),
        1px 1px 0 rgba(255,255,255,.2),
        inset 0 1px 8px rgba(0,0,0,0.2)
      ));
    }
    &.error {
      color: #fff;
      border: 1px solid darken($red,10%);
      //background: $red url('http://assets.ambient.ly/bitlancer/msg-stripes.png');
      background: $red;
      @include box-shadow((
        inset 0 -1px 1px lighten($red,15%),
        inset 0 1px 1px lighten($red,15%),
        0 3px 0 #ddd,
        3px 3px 0 #ddd
      ));
    }
    &.success {
      color: #fff;
      border: 1px solid darken($green,10%);
      //background: $green url('http://assets.ambient.ly/bitlancer/msg-stripes.png');
      background: $green;
      @include box-shadow((
        inset 0 -1px 1px lighten($green,10%),
        inset 0 1px 1px lighten($green,10%),
        0 3px 0 #ddd,
        3px 3px 0 #ddd
      ));
    }
    &.warning {
      color: #fff;
      border: 1px solid darken($orange,10%);
      //background: $orange url('http://assets.ambient.ly/bitlancer/msg-stripes.png');
      background: $orange;
      @include box-shadow((
        inset 0 -1px 1px lighten($orange,15%),
        inset 0 1px 1px lighten($orange,20%),
        0 3px 0 #ddd,
        3px 3px 0 #ddd
      ));
    }
    > span {
      display: block;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.5;
      text-transform: capitalize;
    }
  }
}