body {
  .strings-modal {
    border: 0;
    padding: 0;
    @include box-shadow(0 1px 12px rgba(0,0,0,0.3));
    .ui-dialog-titlebar {
      border: 0;  
      padding: 10px 15px 9px;
      > a {
        border: 0; 
        padding: 0;
        right: 10px;
        > span { margin: 1px 0 0 2px }
        &:hover { background: rgba(0,0,0,.05) }
      }
    }
    .ui-dialog-content {
      min-height: auto !important;
      padding: 15px;
      form > p {
        margin: 0 0 15px;
      }
    }
    .ui-dialog-buttonpane {
      border-top: 1px solid #f0f0f0;
      margin-top: 0;
      padding: 0; 
      button {
        background: inherit;
        &.cta {
          height: auto;
          font-weight: 600;
          outline: none;
          &.cancel { @include gradient($red, darken($red, 15%)) }
          &.primary { @include gradient(lighten($blue_light,10%), darken($blue_light, 10%)) }
        }
      }
    }
  }  
  .ui-widget-overlay {
    background: rgba(0,0,0,0.25);
    opacity: 1;  
  }
}