// mixins.scss
// Last modified Dec 31 2012 by Axel Sears

@mixin box-shadow($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow: $string;
  box-shadow: $string;
}

@mixin gradient($from,$to){
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

@mixin transform($val){
  -webkit-transform: $val;
  -moz-transform: $val;
  -o-transform: $val;
  transform: $val;
}

@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  transition: $val;
}

@mixin animation($val){
  -webkit-animation: $val;
  -moz-animation: $val;
  -o-animation: $val;
  animation: $val;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name {
    @content; 
  }
  @-moz-keyframes $name {
    @content;
  }
  @-ms-keyframes $name {
    @content;
  }
  @keyframes $name {
    @content;
  } 
}