body#account {
  background: url('http://assets.ambient.ly/bitlancer/wall3.jpg') center no-repeat;
  &.landscape { background-size: 100% auto }
  &.portrait { background-size: auto 100% }
  header,nav { display: none }
  #preload {
    position: fixed;
    left: -999999px;
    bottom: -999999px;
  }
  &:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; 
  } 
  &.loading {
    form#login { opacity: 0 }  
  }
  form#login {
    background: #fff;
    border-radius: 7px 7px 0 0;
    display: inline-block;
    left: 50%;
    margin: -80px auto 0 -150px;
    min-height: 60px;
    opacity: 1;
    padding: 20px;
    position: relative;
    width: 260px;
    vertical-align: middle;
    @include box-shadow(0 1px 10px rgba(0,0,0,0.5));
    @include transition(opacity .5s linear);
    h1 {
      box-sizing: border-box;
      color: #444;
      font-family: 'Pacifico';
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 25px;
      text-align: center;
    }
    input[type=text],input[type=email],input[type=password] {
      box-sizing: border-box;
      font-size: 90%;
      margin-bottom: 5px;
      padding: 5px;
      width: 100%;
      &:last-of-type {
        margin-bottom: 0;  
      }
    }
    div[data-id] {
      &[data-id=password],&[data-id=register] {
        display: none;
      }
      p {
        font-size: 85%;
        margin-bottom: 15px;
      }
    }
    div > .buttons {
      display: block;
      margin-top: 15px;
      > * {
        vertical-align: middle;  
      }
      label {
        font-size: 80%;  
      }
      .cta {
        margin-right: 5px;  
      }
    }
    #tabs {
      @include gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.1));
      @include box-shadow((
        inset 0 2px 7px rgba(0,0,0,0)
      ));
      border-radius: 0 0 7px 7px;
      //display: -webkit-box;
      //-webkit-box-orient: horizontal;
      display: block;
      //border-top: 1px solid #e8e8e8;
      //box-sizing:border-box;
      left: 0;
      line-height: 28px;
      margin: 20px auto -20px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 300px;
      text-align: center;
      > * {
        color: #fff;
        display: block;  
        float: left;
        font-size: 80%;
        font-weight: 700; 
        line-height: 1;
        padding: 10px;
        //-webkit-box-flex: 1;
        width: 130px;
        text-align: center;
        text-shadow: 0 1px 1px  rgba(0,0,0,0.4);
        &:first-child {
          //border-right: 1px solid rgba(0,0,0,0.2);
          border-radius: 0 0 0 7px;
          @include box-shadow(inset -1px 0 0 rgba(0,0,0,0.1));
        }
        &:last-child {
          //border-left: 1px solid rgba(255,255,255,0.2);
          border-radius: 0 0 7px 0;
          @include box-shadow(inset 1px 0 0 rgba(255,255,255,0.1));
        }
        &:hover, &.active {
          @include gradient(#fefefe,#ffffff);
          @include box-shadow(0 -1px 0 #fff);
          border: 0;
          color: #555;
          text-shadow: none;
        }
      }
    }
  }
}