body {
  .strings-modal {
    .ui-dialog-titlebar {
      border: 0;  
      padding: 5px 10px;
      > a {
        border: 0; 
        padding: 0;
        right: 5px;
        > span {
          margin: 1px 0 0 2px;  
        }
        &:hover {
          background: rgba(0,0,0,.05);  
        }
      }
    }
    .ui-dialog-content {
      padding: 10px;  
    }
  }  
}