body {
  div#overlay {
    background: rgba(0,0,0,0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    > div#modal {
      background: #fff;
      display: block;
      min-width: 360px;
      max-width: 960px;
      margin: 0 auto;
      min-height: 60px;
      width: 480px;
      overflow: hidden;
      padding: 0px;
      position: relative;
      @include box-shadow((
        0px 1px 10px rgba(0,0,0,0.5)
      ));
      a.close {
        background: url('http://assets.ambient.ly/bitlancer/close_dark.png') 2px 2px no-repeat;
        background-size: 10px 10px;
        display: block;
        height: 15px;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 15px;
        border-radius: 3px;
        @include box-shadow((
          -1px -1px 0 rgba(0,0,0,0.3),
          1px 1px 0 rgba(255,255,255,.1),
          inset 0 1px 8px rgba(0,0,0,0.2)
        ));
      }
      > h2 {
        background: #323232;
        color: #fff;
        display: block;
        font-weight: 600;
        padding: 10px;
        > a.close {
          background: url('http://assets.ambient.ly/bitlancer/close.png') 2px 2px no-repeat;
          background-size: 10px 10px;
        }
      }
      > span {
        display: block;
        padding: 20px;
      }
    }
  }  
}