@import url("http://assets.ambient.ly/bitlancer/jquery.ui.theme.css");
@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

html {
  height: 100%;
  width: 100%; }
  html * {
    line-height: 1; }
  html ::selection {
    background: rgba(0, 0, 0, 0); }
  html pre ::selection, html code ::selection {
    background: rgba(255, 255, 255, 0.1); }
  html body {
    height: 100%;
    width: 100%; }
    html body article, html body aside, html body details, html body figcaption, html body figure, html body footer, html body header, html body hgroup, html body menu, html body nav, html body section {
      display: block; }
    html body ol, html body ul {
      list-style: none; }
    html body blockquote, html body q {
      quotes: none; }
      html body blockquote:before, html body blockquote:after, html body q:before, html body q:after {
        content: '';
        content: none; }
    html body strong {
      font-weight: 600; }
    html body input {
      outline: none; }
    html body table {
      border-collapse: collapse;
      border-spacing: 0; }
    html body img {
      border: 0;
      max-width: 100%; }
    html body a {
      text-decoration: none;
      cursor: pointer; }

body {
  color: #555;
  font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }
  body a {
    color: #1e8fe2;
    text-decoration: none; }
  body p {
    line-height: 20px; }
  body small {
    font-size: 75%; }
  body section h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 40px; }
    body section h1 > strong {
      font-weight: 400; }
  body section h2 {
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 15px; }
    body section h2 a {
      font-size: 12px;
      font-weight: 400; }
  body section div h2 {
    margin-top: 30px; }
    body section div h2:first-of-type {
      margin-top: 0; }

body {
  background: #f8f8f8; }
  body > nav {
    left: 0; }
  body > header {
    top: 0; }
  body.loading {
    background: #f8f8f8 url("http://assets.ambient.ly/bitlancer/loading.gif") center no-repeat; }
    body.loading > section {
      display: none; }
    body.loading > nav {
      left: -241px; }
    body.loading > header {
      top: -51px; }
  body .clearfix {
    zoom: 1; }
    body .clearfix:before {
      clear: both;
      content: '';
      display: table; }
    body .clearfix:after {
      clear: both; }
  body .float-left {
    float: left; }
  body .float-right {
    float: right; }
  body .overflow-hidden {
    overflow: hidden; }
  body .arrow:after {
    content: " \00bb"; }

body > header {
  background: #222222 url("http://assets.ambient.ly/bitlancer/dark_stripes.png");
  border-bottom: 1px solid #111;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-transition: top 0.1s ease-in-out;
  -moz-transition: top 0.1s ease-in-out;
  -o-transition: top 0.1s ease-in-out;
  transition: top 0.1s ease-in-out;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2); }
  body > header > div {
    height: 40px;
    padding: 5px 20px;
    min-width: 920px; }
    body > header > div a#logo {
      color: #fff;
      font-size: 22px;
      font-family: 'Pacifico';
      font-weight: 300;
      line-height: 40px;
      text-shadow: 1px 2px 0 #000; }
    body > header > div #profile {
      display: none; }

body > nav {
  background: #f0f0f0 url("http://assets.ambient.ly/bitlancer/stripe.png") center -5px no-repeat;
  height: 100%;
  padding-top: 5px;
  position: fixed;
  width: 240px;
  top: 50px;
  z-index: 15;
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: left 0.2s 0.15s ease-in-out;
  -moz-transition: left 0.2s 0.15s ease-in-out;
  -o-transition: left 0.2s 0.15s ease-in-out;
  transition: left 0.2s 0.15s ease-in-out; }
  body > nav > span {
    display: block;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
    background-color: whitesmoke;
    background-image: -moz-linear-gradient(whitesmoke, #f0f0f0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whitesmoke), to(#f0f0f0));
    background-image: -webkit-linear-gradient(whitesmoke, #f0f0f0);
    background-image: -o-linear-gradient(whitesmoke, #f0f0f0); }
    body > nav > span > span {
      display: none; }
    body > nav > span > a {
      color: #666;
      display: block;
      font-weight: 600;
      height: 20px;
      line-height: 20px;
      padding: 10px 20px;
      text-shadow: 1px 1px 0 #fff;
      -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e3e3e3;
      -moz-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e3e3e3;
      box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e3e3e3; }
      body > nav > span > a:before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px auto;
        content: '';
        display: inline-block;
        height: 20px;
        margin-right: 10px;
        width: 20px;
        vertical-align: top; }
    body > nav > span#dashboard > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/dashboard.png"); }
    body > nav > span#devices > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/cabinet.png");
      background-size: auto 20px; }
    body > nav > span#formations > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/cloud.png"); }
    body > nav > span#user-management > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/user.png"); }
    body > nav > span.active {
      background: #fafafa;
      margin-right: 0; }
      body > nav > span.active:after {
        background: #f8f8f8;
        content: '';
        display: block;
        height: 30px;
        position: absolute;
        right: -15px;
        top: 4px;
        width: 28px;
        -webkit-box-shadow: -1px 1px 5px #d6d6d6;
        -moz-box-shadow: -1px 1px 5px #d6d6d6;
        box-shadow: -1px 1px 5px #d6d6d6;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      body > nav > span.active > span {
        display: block;
        padding: 0;
        -webkit-box-shadow: inset -1px 0px 12px rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset -1px 0px 12px rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.075);
        box-shadow: inset -1px 0px 12px rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.075); }
        body > nav > span.active > span > a {
          border-bottom: 1px solid #eee;
          color: inherit;
          font-weight: 600;
          padding: 10px 20px;
          display: block;
          font-size: 13px;
          margin-right: 1px; }
          body > nav > span.active > span > a:last-of-type {
            border: 0; }
    body > nav > span:last-of-type {
      border-bottom: 1px solid #fdfdfd; }

body > section {
  max-width: 1200px;
  min-width: 600px;
  padding: 90px 60px 30px 300px;
  position: relative; }
  body > section > div {
    margin-top: 20px;
    position: relative; }
    body > section > div.columns > div:first-of-type {
      float: left;
      width: 65%; }
    body > section > div.columns > div:last-of-type {
      float: left;
      padding-left: 3%;
      width: 32%; }
    body > section > div.columns > div .action-menu {
      display: none; }
    body > section > div.columns > div .details {
      border: 1px dashed #ccc;
      padding: 15px; }
      body > section > div.columns > div .details p {
        margin: 0; }
        body > section > div.columns > div .details p > strong {
          display: inline-block;
          margin-right: 2%;
          min-width: 30%; }
  body > section hr.clear {
    border: 1px solid transparent;
    clear: both;
    display: block;
    margin: 0; }

> section.asdfsdaf {
  max-width: 1200px;
  min-width: 630px;
  padding: 90px 60px 30px 300px;
  position: relative; }
  > section.asdfsdaf > div#content {
    background: #fff;
    border: 1px solid #dedede;
    padding: 20px;
    position: relative; }
    > section.asdfsdaf > div#content.panel {
      overflow: hidden; }
      > section.asdfsdaf > div#content.panel > div {
        position: relative; }
        > section.asdfsdaf > div#content.panel > div:first-child {
          float: left;
          width: 63%;
          padding-right: 2%;
          -webkit-box-shadow: 1px 0 0 #eeeeee;
          -moz-box-shadow: 1px 0 0 #eeeeee;
          box-shadow: 1px 0 0 #eeeeee; }
          > section.asdfsdaf > div#content.panel > div:first-child > ul#messages {
            margin-bottom: 45px; }
          > section.asdfsdaf > div#content.panel > div:first-child > div.details {
            border: 1px dashed #ccc;
            padding: 15px; }
            > section.asdfsdaf > div#content.panel > div:first-child > div.details p {
              margin: 0; }
              > section.asdfsdaf > div#content.panel > div:first-child > div.details p > strong {
                display: inline-block;
                padding-right: 2%;
                width: 25%; }
        > section.asdfsdaf > div#content.panel > div:nth-child(2) {
          float: left;
          padding-left: 2%;
          width: 33%; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) h2 {
            margin-bottom: 5px; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) h3 {
            font-weight: 600; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) ul {
            list-style-type: disc;
            list-style-position: inside; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) ul li {
              margin-bottom: 5px; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) ul li:last-of-type {
                margin: 0; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) span {
            display: block;
            margin-bottom: 30px; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span:last-of-type {
              margin: 0; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span > p, > section.asdfsdaf > div#content.panel > div:nth-child(2) span > a {
              margin-bottom: 10px; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) span > p:last-child, > section.asdfsdaf > div#content.panel > div:nth-child(2) span > a:last-child {
                margin: 0; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span > p.info {
              background: #fafafa;
              padding: 5px;
              border: 1px solid #dadada; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span a {
              display: block; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) span a.cta {
                display: inline-block; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) span a.arrow:after {
                content: " \00bb"; }
  > section.asdfsdaf > div > span, > section.asdfsdaf > div div.panel > span {
    display: block;
    margin-bottom: 30px;
    position: relative; }
    > section.asdfsdaf > div > span:last-of-type, > section.asdfsdaf > div div.panel > span:last-of-type {
      margin-bottom: 0; }
