@import url("http://assets.ambient.ly/bitlancer/jquery.ui.theme.css");
@import url("http://fonts.googleapis.com/css?family=Pacifico");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

html {
  height: 100%;
  width: 100%; }
  html * {
    line-height: 1; }
  html ::selection {
    background: rgba(0, 0, 0, 0); }
  html pre ::selection, html code ::selection {
    background: rgba(255, 255, 255, 0.1); }
  html body {
    height: 100%;
    width: 100%; }
    html body article, html body aside, html body details, html body figcaption, html body figure, html body footer, html body header, html body hgroup, html body menu, html body nav, html body section {
      display: block; }
    html body ol, html body ul {
      list-style: none; }
    html body blockquote, html body q {
      quotes: none; }
      html body blockquote:before, html body blockquote:after, html body q:before, html body q:after {
        content: '';
        content: none; }
    html body strong {
      font-weight: 600; }
    html body input {
      outline: none; }
    html body table {
      border-collapse: collapse;
      border-spacing: 0; }
    html body img {
      border: 0;
      max-width: 100%; }
    html body a {
      text-decoration: none;
      cursor: pointer; }

body {
  color: #555;
  font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }
  body a {
    color: #1e8fe2;
    text-decoration: none; }
  body p {
    line-height: 20px;
    margin-top: -5px; }
  body small {
    font-size: 75%; }
  body section h1 {
    font-size: 30px;
    font-weight: 300;
    line-height: 40px; }
    body section h1 > strong {
      font-weight: 400; }
  body section h2 {
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 15px; }
    body section h2 a {
      font-size: 12px;
      font-weight: 400; }
  body section div h2 {
    margin-top: 30px; }
    body section div h2:first-of-type {
      margin-top: 0; }

body {
  background: #f8f8f8; }
  body > nav {
    left: 0; }
  body > header {
    top: 0; }
  body.loading {
    background: #f8f8f8 url("http://assets.ambient.ly/bitlancer/loading.gif") center no-repeat; }
    body.loading > section {
      display: none; }
    body.loading > nav {
      left: -241px; }
    body.loading > header {
      top: -51px; }
  body .clearfix {
    zoom: 1; }
    body .clearfix:before {
      clear: both;
      content: '';
      display: table; }
    body .clearfix:after {
      clear: both; }
  body .float-left {
    float: left; }
  body .float-right {
    float: right; }
  body .overflow-hidden {
    overflow: hidden; }
  body .arrow:after {
    content: " \00bb"; }
  body ul {
    display: block;
    position: relative; }
    body ul li {
      list-style-position: inside;
      list-style-type: disc;
      margin-bottom: 5px; }
      body ul li:last-of-type {
        margin: 0; }

body > header {
  background: #222222 url("http://assets.ambient.ly/bitlancer/dark_stripes.png");
  border-bottom: 1px solid #111;
  height: 50px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  -webkit-transition: top 0.1s ease-in-out;
  -moz-transition: top 0.1s ease-in-out;
  -o-transition: top 0.1s ease-in-out;
  transition: top 0.1s ease-in-out;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2); }
  body > header > div {
    height: 40px;
    padding: 5px 20px;
    min-width: 920px; }
    body > header > div a#logo {
      color: #fff;
      font-size: 22px;
      font-family: 'Pacifico';
      font-weight: 300;
      line-height: 40px;
      text-shadow: 1px 2px 0 #000; }
    body > header > div #profile {
      display: none; }

body > nav {
  background: #f0f0f0 url("http://assets.ambient.ly/bitlancer/stripe.png") center -5px no-repeat;
  height: 100%;
  padding-top: 5px;
  position: fixed;
  width: 240px;
  top: 50px;
  z-index: 15;
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: left 0.2s 0.15s ease-in-out;
  -moz-transition: left 0.2s 0.15s ease-in-out;
  -o-transition: left 0.2s 0.15s ease-in-out;
  transition: left 0.2s 0.15s ease-in-out; }
  body > nav > span {
    display: block;
    margin-right: 1px;
    overflow: hidden;
    position: relative;
    background-color: whitesmoke;
    background-image: -moz-linear-gradient(whitesmoke, #f0f0f0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(whitesmoke), to(#f0f0f0));
    background-image: -webkit-linear-gradient(whitesmoke, #f0f0f0);
    background-image: -o-linear-gradient(whitesmoke, #f0f0f0); }
    body > nav > span > span {
      display: none; }
    body > nav > span > a {
      color: #666;
      display: block;
      font-weight: 600;
      height: 20px;
      line-height: 20px;
      padding: 10px 20px;
      text-shadow: 1px 1px 0 #fff;
      -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e3e3e3;
      -moz-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e3e3e3;
      box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #e3e3e3; }
      body > nav > span > a:before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px auto;
        content: '';
        display: inline-block;
        height: 20px;
        margin-right: 10px;
        width: 20px;
        vertical-align: top; }
    body > nav > span#dashboard > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/dashboard.png"); }
    body > nav > span#devices > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/cabinet.png");
      background-size: auto 20px; }
    body > nav > span#formations > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/cloud.png"); }
    body > nav > span#user-management > a:before {
      background-image: url("http://assets.ambient.ly/bitlancer/user.png"); }
    body > nav > span.active {
      background: #fafafa;
      margin-right: 0; }
      body > nav > span.active:after {
        background: #f8f8f8;
        content: '';
        display: block;
        height: 30px;
        position: absolute;
        right: -15px;
        top: 4px;
        width: 28px;
        -webkit-box-shadow: -1px 1px 5px #d6d6d6;
        -moz-box-shadow: -1px 1px 5px #d6d6d6;
        box-shadow: -1px 1px 5px #d6d6d6;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      body > nav > span.active > span {
        display: block;
        padding: 0;
        -webkit-box-shadow: inset -1px 0px 12px rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset -1px 0px 12px rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.075);
        box-shadow: inset -1px 0px 12px rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.075); }
        body > nav > span.active > span > a {
          border-bottom: 1px solid #eee;
          color: inherit;
          font-weight: 600;
          padding: 10px 20px;
          display: block;
          font-size: 13px;
          margin-right: 1px; }
          body > nav > span.active > span > a:last-of-type {
            border: 0; }
    body > nav > span:last-of-type {
      border-bottom: 1px solid #fdfdfd; }

body > section {
  max-width: 1200px;
  min-width: 600px;
  padding: 90px 60px 30px 300px;
  position: relative; }
  body > section > div {
    margin-top: 20px;
    position: relative; }
    body > section > div.columns > div:first-of-type {
      float: left;
      width: 65%; }
    body > section > div.columns > div:last-of-type {
      float: left;
      padding-left: 3%;
      width: 32%; }
      body > section > div.columns > div:last-of-type .cta {
        margin-top: 10px; }
    body > section > div.columns > div .action-menu {
      display: none; }
    body > section > div.columns > div .details {
      background: #fcfcfc;
      border: 1px dashed #ccc;
      padding: 10px; }
      body > section > div.columns > div .details p {
        margin: 0; }
        body > section > div.columns > div .details p > strong {
          display: inline-block;
          margin-right: 2%;
          min-width: 30%; }
    body > section > div.columns > div .info {
      background: #fcfcfc;
      border: 1px solid #eee;
      margin: 10px 0;
      padding: 5px; }
  body > section hr.clear {
    border: 1px solid transparent;
    clear: both;
    display: block;
    margin: 0; }

> section.asdfsdaf {
  max-width: 1200px;
  min-width: 630px;
  padding: 90px 60px 30px 300px;
  position: relative; }
  > section.asdfsdaf > div#content {
    background: #fff;
    border: 1px solid #dedede;
    padding: 20px;
    position: relative; }
    > section.asdfsdaf > div#content.panel {
      overflow: hidden; }
      > section.asdfsdaf > div#content.panel > div {
        position: relative; }
        > section.asdfsdaf > div#content.panel > div:first-child {
          float: left;
          width: 63%;
          padding-right: 2%;
          -webkit-box-shadow: 1px 0 0 #eeeeee;
          -moz-box-shadow: 1px 0 0 #eeeeee;
          box-shadow: 1px 0 0 #eeeeee; }
          > section.asdfsdaf > div#content.panel > div:first-child > ul#messages {
            margin-bottom: 45px; }
          > section.asdfsdaf > div#content.panel > div:first-child > div.details {
            border: 1px dashed #ccc;
            padding: 15px; }
            > section.asdfsdaf > div#content.panel > div:first-child > div.details p {
              margin: 0; }
              > section.asdfsdaf > div#content.panel > div:first-child > div.details p > strong {
                display: inline-block;
                padding-right: 2%;
                width: 25%; }
        > section.asdfsdaf > div#content.panel > div:nth-child(2) {
          float: left;
          padding-left: 2%;
          width: 33%; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) h2 {
            margin-bottom: 5px; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) h3 {
            font-weight: 600; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) ul {
            list-style-type: disc;
            list-style-position: inside; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) ul li {
              margin-bottom: 5px; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) ul li:last-of-type {
                margin: 0; }
          > section.asdfsdaf > div#content.panel > div:nth-child(2) span {
            display: block;
            margin-bottom: 30px; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span:last-of-type {
              margin: 0; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span > p, > section.asdfsdaf > div#content.panel > div:nth-child(2) span > a {
              margin-bottom: 10px; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) span > p:last-child, > section.asdfsdaf > div#content.panel > div:nth-child(2) span > a:last-child {
                margin: 0; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span > p.info {
              background: #fafafa;
              padding: 5px;
              border: 1px solid #dadada; }
            > section.asdfsdaf > div#content.panel > div:nth-child(2) span a {
              display: block; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) span a.cta {
                display: inline-block; }
              > section.asdfsdaf > div#content.panel > div:nth-child(2) span a.arrow:after {
                content: " \00bb"; }
  > section.asdfsdaf > div > span, > section.asdfsdaf > div div.panel > span {
    display: block;
    margin-bottom: 30px;
    position: relative; }
    > section.asdfsdaf > div > span:last-of-type, > section.asdfsdaf > div div.panel > span:last-of-type {
      margin-bottom: 0; }

table {
  border: 1px solid #d6d6d6;
  clear: both;
  width: 100%; }
  table thead {
    background: #f0f0f0;
    border-bottom: 1px solid #e3e3e3; }
    table thead th {
      font-weight: 600; }
  table tbody {
    background: #fcfcfc; }
    table tbody tr {
      border-bottom: 1px solid #e3e3e3; }
      table tbody tr:last-of-type {
        border: 0; }
      table tbody tr td {
        border-right: 1px solid #e3e3e3; }
        table tbody tr td:last-of-type {
          border: 0; }
        table tbody tr td.blank {
          font-size: 90%;
          padding: 20px;
          text-align: center; }
          table tbody tr td.blank h3 {
            font-weight: 600;
            font-size: 17px;
            margin-bottom: 5px; }
  table th, table td {
    padding: 5px;
    text-align: left; }

@-webkit-keyframes activity {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 26px; } }

@-moz-keyframes activity {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 26px; } }

@-ms-keyframes activity {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 26px; } }

@keyframes activity {
  0% {
    background-position: 0 0; }

  100% {
    background-position: 0 26px; } }

table.adfdasf {
  border: 1px solid #d6d6d6;
  clear: both;
  width: 100%; }
  table.adfdasf ul.action-menu {
    float: right;
    margin-right: 5px;
    border-left: 1px solid #ccc;
    padding-left: 5px; }
  table.adfdasf th, table.adfdasf td {
    padding: 5px; }
  table.adfdasf th {
    background: #f0f0f0;
    border-bottom: 1px solid #d6d6d6;
    font-weight: 600;
    text-align: left;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(#f0f0f0, whitesmoke);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(whitesmoke));
    background-image: -webkit-linear-gradient(#f0f0f0, whitesmoke);
    background-image: -o-linear-gradient(#f0f0f0, whitesmoke); }
    table.adfdasf th.sorting {
      cursor: pointer; }
      table.adfdasf th.sorting:after {
        color: #ccc;
        content: '\25BC';
        position: absolute;
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8); }
    table.adfdasf th.sorting_asc:after, table.adfdasf th.sorting_desc:after {
      color: #999;
      cursor: pointer;
      position: absolute;
      -webkit-transform: scaleY(0.8);
      -moz-transform: scaleY(0.8);
      -o-transform: scaleY(0.8);
      transform: scaleY(0.8); }
    table.adfdasf th.sorting_asc:after {
      content: '\25B2'; }
    table.adfdasf th.sorting_desc:after {
      content: '\25BC'; }
  table.adfdasf tr[data-status2] td {
    padding: 10px 5px;
    position: relative; }
    table.adfdasf tr[data-status2] td:first-child {
      padding: 10px 5px 10px 20px; }
      table.adfdasf tr[data-status2] td:first-child:before {
        content: ' ';
        height: 37px;
        width: 10px;
        position: absolute;
        left: 0;
        margin-top: -11px; }
  table.adfdasf tr[data-status] td:first-of-type {
    padding-left: 15px; }
    table.adfdasf tr[data-status] td:first-of-type:before {
      box-sizing: border-box;
      content: ' ';
      display: both;
      height: 26px;
      margin-left: -15px;
      position: absolute;
      margin-top: -5px;
      width: 5px; }
    table.adfdasf tr[data-status] td:first-of-type:after {
      clear: both; }
  table.adfdasf tr[data-status='loading'] td:first-child:before {
    background: #bbb;
    background-size: 200% 50%;
    background-position: 0 0;
    -webkit-box-shadow: inset 0 -1px 0 #aeaeae;
    -moz-box-shadow: inset 0 -1px 0 #aeaeae;
    box-shadow: inset 0 -1px 0 #aeaeae; }
  table.adfdasf tr[data-status='error'] td:first-child:before {
    background: #d94141;
    background-size: 200% 50%;
    background-position: 0 0;
    -webkit-box-shadow: inset 0 -1px 0 #d52c2c;
    -moz-box-shadow: inset 0 -1px 0 #d52c2c;
    box-shadow: inset 0 -1px 0 #d52c2c; }
  table.adfdasf tr[data-status='running'] td:first-child:before {
    background: #59b036;
    background-size: 200% 50%;
    background-position: 0 0;
    -webkit-box-shadow: inset 0 -1px 0 #4f9c30;
    -moz-box-shadow: inset 0 -1px 0 #4f9c30;
    box-shadow: inset 0 -1px 0 #4f9c30; }
  table.adfdasf tr[data-status='warning'] td:first-child:before {
    background: #ffb33d;
    background-size: 200% 50%;
    background-position: 0 0;
    -webkit-box-shadow: inset 0 -1px 0 #ffa923;
    -moz-box-shadow: inset 0 -1px 0 #ffa923;
    box-shadow: inset 0 -1px 0 #ffa923; }
  table.adfdasf tr.activity td:first-child:before {
    background-image: url("http://assets.ambient.ly/bitlancer/status.png");
    -webkit-animation: activity 2s infinite forwards linear;
    -moz-animation: activity 2s infinite forwards linear;
    -o-animation: activity 2s infinite forwards linear;
    animation: activity 2s infinite forwards linear; }
  table.adfdasf td {
    border: 1px solid #d6d6d6; }
    table.adfdasf td.blank {
      padding: 20px;
      text-align: center;
      color: #999; }
      table.adfdasf td.blank h3 {
        color: #777;
        font-weight: 600;
        font-size: 17px;
        margin-bottom: 5px; }
  table.adfdasf.clean {
    border: 0; }
    table.adfdasf.clean th {
      background: #fff;
      border-bottom: 1px solid #d6d6d6; }
    table.adfdasf.clean tr {
      border-bottom: 1px solid #f0f0f0; }
      table.adfdasf.clean tr:nth-child(even) {
        background-color: #f9f9f9; }
    table.adfdasf.clean td {
      border: 0; }
    table.adfdasf.clean th, table.adfdasf.clean td {
      padding-left: 0;
      padding-right: 0; }

.dataTables_wrapper {
  position: relative; }
  .dataTables_wrapper .dataTables_length {
    float: left;
    padding: 2px 0 0 0; }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    padding-bottom: 10px; }

.dataTables_info {
  float: left;
  padding-top: 10px;
  display: none; }

.dataTables_paginate {
  color: #777;
  display: block;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  padding-top: 10px;
  position: relative; }
  .dataTables_paginate > a, .dataTables_paginate > span > a {
    border: 1px solid #e3e3e3;
    color: #777;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-right: 3px;
    padding: 0 5px;
    text-align: center; }
    .dataTables_paginate > a.paginate_active, .dataTables_paginate > span > a.paginate_active {
      background: #e1edff;
      border: 1px solid #95bfff;
      color: #4891ff;
      cursor: default; }
    .dataTables_paginate > a.paginate_button_disabled, .dataTables_paginate > span > a.paginate_button_disabled {
      color: #ccc;
      cursor: default; }

.first.paginate_button, .last.paginate_button {
  display: none; }

.cta {
  border-radius: 3px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  height: 30px;
  line-height: 28px;
  padding: 0 10px;
  background: #f0f0f0;
  border: 1px solid gainsboro;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #ebebeb;
  color: #555;
  text-shadow: 0 1px 0 #fdfdfd;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 -1px 0 #f0f0f0, inset 0 1px 0 white, inset -1px 0 0 white, inset 1px 0 0 white;
  -moz-box-shadow: inset 0 -1px 0 #f0f0f0, inset 0 1px 0 white, inset -1px 0 0 white, inset 1px 0 0 white;
  box-shadow: inset 0 -1px 0 #f0f0f0, inset 0 1px 0 white, inset -1px 0 0 white, inset 1px 0 0 white;
  background-color: white;
  background-image: -moz-linear-gradient(white, #f7f7f7);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f7f7f7));
  background-image: -webkit-linear-gradient(white, #f7f7f7);
  background-image: -o-linear-gradient(white, #f7f7f7); }
  .cta:hover {
    background-color: white;
    background-image: -moz-linear-gradient(white, #f2f2f2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f2f2f2));
    background-image: -webkit-linear-gradient(white, #f2f2f2);
    background-image: -o-linear-gradient(white, #f2f2f2); }
  .cta.refresh {
    background-color: white;
    background-image: -moz-linear-gradient(white, #f2f2f2);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f2f2f2));
    background-image: -webkit-linear-gradient(white, #f2f2f2);
    background-image: -o-linear-gradient(white, #f2f2f2);
    height: 20px;
    padding: 0 5px; }
    .cta.refresh:before {
      background: url("http://assets.ambient.ly/bitlancer/refresh.png") center 2px no-repeat;
      background-size: 13px 15px;
      content: ' ';
      display: inline-block;
      height: 20px;
      width: 15px; }
  .cta.primary {
    background: #1e8fe2;
    border: 1px solid #1773b6;
    border-bottom: 1px solid #14649f;
    border-top: 1px solid #1a81cc;
    color: #fff;
    text-shadow: 0 1px 0 #1773b6;
    -webkit-box-shadow: inset 0 -1px 0 #4ba5e8, inset 0 1px 0 #62b1eb, inset -1px 0px 0 #3e9fe6, inset 1px 0px 0 #3e9fe6;
    -moz-box-shadow: inset 0 -1px 0 #4ba5e8, inset 0 1px 0 #62b1eb, inset -1px 0px 0 #3e9fe6, inset 1px 0px 0 #3e9fe6;
    box-shadow: inset 0 -1px 0 #4ba5e8, inset 0 1px 0 #62b1eb, inset -1px 0px 0 #3e9fe6, inset 1px 0px 0 #3e9fe6;
    background-color: #4ba5e8;
    background-image: -moz-linear-gradient(#4ba5e8, #1773b6);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4ba5e8), to(#1773b6));
    background-image: -webkit-linear-gradient(#4ba5e8, #1773b6);
    background-image: -o-linear-gradient(#4ba5e8, #1773b6); }
    .cta.primary:hover {
      background-color: #62b1eb;
      background-image: -moz-linear-gradient(#62b1eb, #1773b6);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62b1eb), to(#1773b6));
      background-image: -webkit-linear-gradient(#62b1eb, #1773b6);
      background-image: -o-linear-gradient(#62b1eb, #1773b6); }
  .cta.cancel {
    background: #d94141;
    border: 1px solid #c12727;
    border-bottom: 1px solid #ab2222;
    border-top: 1px solid #d52c2c;
    color: #fff;
    text-shadow: 0 1px 0 #c12727;
    -webkit-box-shadow: inset 0 -1px 0 #dd5656, inset 0 1px 0 #e68181, inset -1px 0px 0 #dd5656, inset 1px 0px 0 #dd5656;
    -moz-box-shadow: inset 0 -1px 0 #dd5656, inset 0 1px 0 #e68181, inset -1px 0px 0 #dd5656, inset 1px 0px 0 #dd5656;
    box-shadow: inset 0 -1px 0 #dd5656, inset 0 1px 0 #e68181, inset -1px 0px 0 #dd5656, inset 1px 0px 0 #dd5656;
    background-color: #d94141;
    background-image: -moz-linear-gradient(#d94141, #ab2222);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d94141), to(#ab2222));
    background-image: -webkit-linear-gradient(#d94141, #ab2222);
    background-image: -o-linear-gradient(#d94141, #ab2222); }
    .cta.cancel:hover {
      background-color: #dd5656;
      background-image: -moz-linear-gradient(#dd5656, #c12727);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd5656), to(#c12727));
      background-image: -webkit-linear-gradient(#dd5656, #c12727);
      background-image: -o-linear-gradient(#dd5656, #c12727); }
  .cta.disabled, .cta.disabled:hover {
    background: #f0f0f0;
    border: 1px solid gainsboro;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #ebebeb;
    color: #999;
    text-shadow: 0 1px 0 #fdfdfd;
    -webkit-box-shadow: inset 0 -1px 0 #f0f0f0, inset 0 1px 0 white, inset -1px 0 0 white, inset 1px 0 0 white;
    -moz-box-shadow: inset 0 -1px 0 #f0f0f0, inset 0 1px 0 white, inset -1px 0 0 white, inset 1px 0 0 white;
    box-shadow: inset 0 -1px 0 #f0f0f0, inset 0 1px 0 white, inset -1px 0 0 white, inset 1px 0 0 white;
    background-color: white;
    background-image: -moz-linear-gradient(white, #f7f7f7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f7f7f7));
    background-image: -webkit-linear-gradient(white, #f7f7f7);
    background-image: -o-linear-gradient(white, #f7f7f7);
    cursor: default; }
  .cta.small {
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    padding: 0 5px; }
