body {
  background: #f8f8f8;
  @include filter(blur(0));  
  > nav { left: 0 }
  > header { top: 0 }
  &.loading {
    background: #f8f8f8 url('../img/loading.gif') center no-repeat;  
    > section { display: none }
    > nav { left: -241px }
    > header { top: -51px }
  }
  &.blur {
    > header, > nav, > section {
      @include filter(blur(2px));  
    }  
    > header { 
      @include box-shadow(-10px 0 0 #000)  
    }
  }
  .clearfix {
    zoom: 1;
    &:before {
      clear: both;
      content: '';
      display: table;
    }
    &:after { clear: both }
  }
  .float-left { float: left }
  .float-right { float: right }
  .overflow-hidden { overflow: hidden }
  .block { display: block }
  .arrow {
    &:after { content: " \00bb" }
    &.block { margin-top: 5px }
  }
  ul {
    display: block;
    position: relative;
    li {
      list-style-position: inside;
      list-style-type: disc;
      margin-bottom: 5px;
      &:last-of-type { margin: 0 }
    }
  }
  hr {
    clear: both;
    display: block;  
    margin: 0; 
    &.clear {
      border: 1px solid transparent;
    }
    &.space {
      border: 1px solid transparent;
      margin-bottom: 10px;
    }
  }
  //::-webkit-scrollbar { display: inherit; width: 12px; }
  //::-webkit-scrollbar-track { background: transparent; border: 0; }
  //::-webkit-scrollbar-thumb { background: #888; border: 3px solid #333; border-radius: 6px; }
}