body > section {
  max-width: 1200px;
  min-width: 600px;
  padding: 90px 60px 30px 300px;
  position: relative;
  > div {
    margin-top: 20px;
    position: relative;
    &.columns > div {
      &:first-of-type {
        float: left;
        width: 65%;
      }
      &:last-of-type {
        float: left;
        padding-left: 3%;
        width: 32%;
        .cta { margin-top: 10px }
      }
      .action-menu { display: none }
    }
  }
  .details {
    background: #fbfbfb;
    border: 1px dashed #ddd;
    padding: 10px;
    p {
      margin: 0;
      > strong {
        display: inline-block;
        margin-right: 2%;
        min-width: 30%;
      }
    }  
  }
  .info {
    background: #fbfbfb;
    border: 1px solid #eee;
    margin: 10px 0;  
    padding: 5px;
  }
}


> section.asdfsdaf {
  max-width: 1200px;
  min-width: 630px;
  //margin: 95px 0 30px 300px;
  padding: 90px 60px 30px 300px;
  position: relative;
  > div {
    &#content {
      background: #fff; 
      border: 1px solid darken($white, 7%);
      //overflow: auto;
      padding: 20px; 
      position: relative;
      &.panel {
        overflow: hidden;
        > div {
          position: relative;
          &:first-child {
            float: left;
            width: 63%;
            padding-right: 2%;
            @include box-shadow(1px 0 0 #eee);
            > ul#messages {
                margin-bottom: 45px;    
            }
            > div {
              &:nth-child(even) {
                //background: #f0f0f0;  
              }
              &.details {
                border: 1px dashed #ccc;
                padding: 15px;
                p {
                  margin: 0;
                  > strong {
                    display: inline-block;
                    padding-right: 2%;
                    width: 25%;
                  }
                }  
              }
            }
          }
          &:nth-child(2) {
            float: left;
            padding-left: 2%;
            width: 33%;
            h2 {
              margin-bottom: 5px;  
            }
            h3 {
              font-weight: 600;  
            }
            ul {
              list-style-type: disc;
              list-style-position:inside;
              li {
                margin-bottom: 5px;
                &:last-of-type {
                  margin: 0;  
                }
              }
            }
            span {
              display: block;
              margin-bottom: 30px;
              &:last-of-type {
                margin: 0;  
              }
              > p, > a {
                margin-bottom: 10px;
                &:last-child {
                  margin: 0;  
                }
              }
              > p {
                &.info {
                  background: #fafafa;
                  padding: 5px;
                  border: 1px solid #dadada;  
                }
              }
              a {
                display: block;
                &.cta {
                  display: inline-block;
                }
                &.arrow {
                  &:after {
                    content: " \00bb"  
                  }  
                }
              }
            }
          }
        }
      }
    }
    > span, div.panel > span {
      display: block;
      margin-bottom: 30px;
      position: relative;
      &:last-of-type {
        margin-bottom: 0;  
      }
    }
  }
}