// typography.scss
// Last modified Dec 31 2012 by Axel Sears

@import url('http://fonts.googleapis.com/css?family=Pacifico');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

body {
  color: #555; 
  font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  a {
    color: $blue_light;   
    text-decoration: none;
  }
  p {
    line-height: 20px;  
    margin-top: -5px;
  }
  small {
    font-size: 75%;
  }
  section {
    h1 {
      font-size: 30px;
      font-weight: 300;
      line-height: 40px;
      > strong {
        font-weight: 400;  
      }
    }
    h2 {
      font-size: 17px;
      font-weight: 600;
      line-height: 16px;
      margin-bottom: 15px;
      a {
        font-size: 12px;
        font-weight: 400;
      }
    }
    div h2 {
      margin-top: 30px;
      &:first-of-type { margin-top: 0 }
    }
  }
}